<a [routerLink]="['/']">
    <img class = "logo" src="https://upload.wikimedia.org/wikipedia/ru/thumb/0/08/Apteka_36_6.svg/1200px-Apteka_36_6.svg.png" alt="logo">
</a>

<a [routerLink]="['/articles']" class="button"><img class = "logo1" src="https://www.iconsdb.com/icons/preview/white/hot-article-xxl.png"  alt="logo"></a>
<a [routerLink]="['/contacts']" class="button"><img class = "logo1" src="https://www.iconsdb.com/icons/preview/white/factory-xxl.png"  alt="logo"></a>
<a [routerLink]="['/cart']" class="button"><img class = "logo1" src="https://www.iconsdb.com/icons/preview/white/shopping-basket-xxl.png"  alt="logo"></a>
<a [routerLink]="['/login']" class="button"><img class = "logo1" src="https://www.iconsdb.com/icons/preview/white/account-login-xxl.png" alt="logo"></a>
<a [routerLink]="['/registration']" class="button"><img class = "logo1" src="https://www.iconsdb.com/icons/preview/white/add-user-2-xxl.png" alt="logo"></a>
