<a [routerLink]="['/']">
    <img class = "logo" src="https://upload.wikimedia.org/wikipedia/ru/thumb/0/08/Apteka_36_6.svg/1200px-Apteka_36_6.svg.png" alt="logo">
</a>

<a [routerLink]="['/articles']" class="button">Articles</a>
<a [routerLink]="['/contacts']" class="button">Our pharmacies</a>
<a [routerLink]="['/cart']" class="button">Checkout </a><img class = "logo1"  alt="logo">
<a [routerLink]="['/login']" class="button">Login <img class = "logo1" src="/icons/basket.png" alt="logo"></a>
<a [routerLink]="['/registration']" class="button">Get Account<img class = "logo1" src="/icons/basket.png" alt="logo"></a>
