<div class="title">
<button (click)="goBack()"><i class="arrow left"></i>Go back</button>

<h3>
  <a [title]="product.name + ' details'">
    {{ product.name }}
  </a>
</h3>
</div>

<img src="{{product.img_link}}" height="200px" width="200px"  alt="" class="img" >

<div class="rating">Rating:<span class="ratingNum">{{product.rating}}</span></div>
<p>Please rate our product</p>
<form [formGroup]="form" (ngSubmit)="submit()">
  <ngx-input-star-rating formControlName="rating"></ngx-input-star-rating>
  <button>Submit</button>
</form>
<p *ngIf="product.description">
  Description: {{ product.description }}
</p>

<p *ngIf="product.price">
  Price: {{ product.price }} ₸
</p>
<p *ngIf="product.price">
  Available: {{ product.available }}
</p>
<div *ngIf="product">
<button (click)="addToCart(product)">Buy</button>
</div>