.title{
    display: flex;
    align-content: center;
}
button{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    height: 30px;
    position: relative;
}
h3{
    margin-left: 15px;
    position: relative;
    width: fit-content;
}