.box{
    display: inline-flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row wrap;
    border: 2px solid black;
    margin: 10px 10px 10px 10px;
    justify-content: center;
}
.title{
    display: flex;
    align-content: center;
}
button{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    height: 30px;
    position: relative;
}
h2{
    margin-left: 15px;
    position: relative;
    width: fit-content;
}