<div id="footer">
  <footer>
      <p><b>IMPORTANT!</b> We do not sell products on the site and do not deliver home orders. 
      Under the "order" on the site refers to a reservation in the pharmacy chain "Drug store". The product is sold by a pharmacy organization. 
      Remote sale of medicines (including home delivery) is prohibited by the current legislation of the Republic of Kazakhstan.</p>
      
      <div id = "container">
          <div class = "item">
              <div>
               <a href="#home" id="logo">
                  <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/0/08/Apteka_36_6.svg/1200px-Apteka_36_6.svg.png" alt="logo">
              </a>
              </div>
          </div>
          <div class = "item">
              <b>Help</b>
              <ul>
                  <li>
                      <a href="/help/paymentanddelivery/">Payment and delivery</a>
                  </li>
                  <li>
                      <a href="/help/askaquestion/">Ask a question</a>
                  </li>
                  
              </ul>
          </div>
          <div class = "item">
              <b>Services</b>
              <ul>
                  <li>
                      <a href="/services/bonuscard/">Bonus card</a>
                  </li>
  
                  <li>
                      <a href="/services/termsofuse/">Terms of use</a>
                  </li>
  
                  <li>
                      <a href="/services/pdprocessingpolicy/">PD Processing Policy</a>
                  </li>

              </ul>
          </div>
          <div class = "item">
              <b>About company</b>
              <ul>
                  <li>
                      <a href="/aboutcompany/aboutus/">About us</a>
                  </li>
  
                  <li>
                      <a href="/aboutcompany/contactdetails/">Contact details</a>
                  </li>
  
                  <li>
                      <a href="/aboutcompany/licenses/">Licenses</a>
                  </li>
              </ul>
          </div>
          <div class="item">
              <div id="social">
                  <a target="_blank" href="https://t.me/zeifoldanova" data-action="share/whatsapp/share">
                      <img id="telegram" src="https://image.winudf.com/v2/image1/Y29tLndXaGF0c2FwcGpiXzg2MTY3NTRfaWNvbl8xNTUwNzI3OTE1XzA1OA/icon.png?w=170&fakeurl=1">
                  </a>
                  <a target="_blank" href="https://api.whatsapp.com/send?phone=7784935550&text=&source=&data=" data-action="share/whatsapp/share">
                      <img id="whatsapp" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/WhatsApp_logo-color-vertical.svg/1024px-WhatsApp_logo-color-vertical.svg.png">
                  </a>
                  <a target="_blank" href="https://www.messenger.com/t/aikerim.orynbekova" data-action="share/whatsapp/share">
                      <img id="whatsapp" src="https://www.the-gma.com/wp-content/uploads/2015/04/facebook1.png">
                  </a>
                  <a target="_blank" href="https://www.instagram.com/zeifolldanova" data-action="share/whatsapp/share">
                  <img id="whatsapp" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/599px-Instagram_icon.png">
                  </a>
              </div>
          </div>
  
      </div>
  
  </footer>
  </div> 