<button (click)="goBack()"><i class="arrow left"></i>Go back</button>
<div class="login-box">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required />
    <label for="password">Password</label>
    <input type="password" id="passwod" name="password"  required >
    <p>Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase letter. <a href="">Learn more</a> .</p>
    <input type="submit" name="Registr" onclick="" value="Login">
</div>