.box{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
    border: 2px solid black;
    margin: 10px 10px 10px 10px;
    
}

a{
    text-align: center;
    width: 200px;
    height: 200px;
}
div img{
    width: 120px;
    height: 110px;
}