<button (click)="goBack()"><i class="arrow left"></i>Go back</button>
<div class="login-box">
    <label for="email">Email</label>
    <input type="email" id="email" name="email"  required />
    <label for="password">Password</label>
    <input type="password" id="passwod" name="password"  required >
    <p>Doesn't have account yeat? <a [routerLink]="['/registration']" routerLinkActive="router-link-active" >Let's get it!</a> .</p>
    <input type="submit" name="login" onclick="" value="Login">
</div>