
.box{
    display: inline-flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row wrap;
    border: 2px solid black;
    margin: 10px 10px 10px 10px;
    justify-content: center;
}

a{
    text-align: center;

}

a h3:hover {
    color:rgb(25,118,210);
	text-decoration: underline;
}